.section-label {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.section-description {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}